@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
    var slogan = Model.Value<string>("slogan");
    var buttontext = Model.Value<string>("buttonText");
    var contacttext = Model.Value<string>("contactText");
    var video = Model.Value("video");
    var background = Model.Value<IPublishedContent>("background").Url;
}

<title>GALINA - HOME</title>

<!-- HOME -->
<section id="home" data-stellar-background-ratio="0.5" style="background-image: url('@background');background-size:cover;background-repeat:no-repeat;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="home-info">
                    <h1>@slogan</h1>
                    <a href="#about" class="btn section-btn smoothScroll">@buttontext</a>
                    <span>
                        @contacttext
                    </span>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="home-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        @video
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>